<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Demos</title>

    <link rel="stylesheet" href="../bower_components/swiper/dist/css/swiper.min.css">
    <link rel="stylesheet" href="demo.css">
</head>

<body>

    <div ng-app="demoApp">

        <div class="myslides">
            <ks-swiper-container>
                <ks-swiper-slide ng-repeat="s in [1,2,3,4,5,6,7,8,9,10,11,12,13,14]">
                    <img ng-src="http://lorempixel.com/600/600/nature/{{s}}">
                </ks-swiper-slide>
            </ks-swiper-container>
        </div>

        <div class="myslides">
            <ks-swiper-container loop="false" show-nav-buttons="false" slides-per-view="4" space-between="5" pagination-clickable="false">
                <ks-swiper-slide>
                    <img ng-src="http://lorempixel.com/600/600/nature/1">
                </ks-swiper-slide>
                <ks-swiper-slide>
                    <img ng-src="http://lorempixel.com/600/600/nature/2">
                </ks-swiper-slide>
            </ks-swiper-container>
        </div>

        <div class="myslides" ng-controller="TestCtrl">
            <ks-swiper-container show-nav-buttons="true" slides-per-view="4" space-between="5" on-slide-end="onSlideEnd()">
                <ks-swiper-slide ng-repeat="s in slides">
                    <img ng-src="http://lorempixel.com/600/600/nature/{{s}}">
                </ks-swiper-slide>
            </ks-swiper-container>
        </div>

        <div class="myslides">
            <ks-swiper-container swiper="swiper" on-ready="onReadySwiper(swiper)" on-slide-end="onSlideEnd()">
                <ks-swiper-slide ng-repeat="s in [1,2,3,4,5]">
                    <img ng-src="http://lorempixel.com/600/600/nature/{{s}}">
                </ks-swiper-slide>
            </ks-swiper-container>
        </div>

        <!-- <div class="myslides" ng-controller="TestCtrl">
            <ks-swiper-container autoplay="1000" swiper="swiper" on-ready="onReadySwiper(swiper)" on-slide-end="onSlideEnd()">
                <ks-swiper-slide ng-repeat="s in [1,2,3,4,5,6,7,8,9,10,11,12,13,14]">
                    <img ng-src="http://lorempixel.com/600/600/nature/{{s}}">
                </ks-swiper-slide>
            </ks-swiper-container>
            <button ng-click="next()">Next</button>
        </div> -->

    </div>

    <script src="../bower_components/swiper/dist/js/swiper.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../dist/angular-swiper.js"></script>

    <script>
        var module = angular.module('demoApp', ['ksSwiper']);
        module
            .config(function(angularSwiperConfigProvider) {
                angularSwiperConfigProvider.setSwiperParameters({
                    slidesPerView : 'auto'
                });
            })
            .controller('TestCtrl', function($scope) {
                $scope.swiper = {};
                $scope.slides = [1,2,3,4,5];

                $scope.next = function() {
                    $scope.swiper.slideNext();
                };
                $scope.onReadySwiper = function(swiper) {
                    console.log('onReadySwiper');
                    swiper.on('slideChangeStart', function() {
                        console.log('slideChangeStart');
                    });
                };

                $scope.onSlideEnd = function(swiper) {
                    console.log('Last slide');
                    $scope.slides = [1,2,3,4,5,6,7,8,9,10];
                    swiper.update();
                }
            });
    </script>

</body>

</html>